
@font-face{
    
    font-family: mHeiTi;
    src: url('../font/PingFangLightsubfont.otf') format("embedded-opentype");
}

 font {
   font-family:mHeiTi, 黑体;
   font-weight: bold;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }



 button {
   font-family:黑体;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }


 div {
   font-family:黑体;
   font-weight: bolder;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }

 canvas {
   font-family:mHeiTi, 黑体;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }




 body {
   height: 100%;
   width: 100%;
   -webkit-user-select: none;
   /*background-color: #303030*/
   /* Chrome/Safari/Opera */
 }