 @font-face {

   font-family: '微软雅黑';
   src: url('../font/simhei.otf');
 }

 font {
   font-family: 微软雅黑;
   font-weight: bold;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }



 button {
   font-family: 微软雅黑;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }


 div {
   font-family: 微软雅黑;
   font-weight: bolder;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }

 canvas {
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }


 body {
   height: 100%;
   width: 100%;
   -webkit-user-select: none;
   /* Chrome/Safari/Opera */
 }