
@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Regular.woff') format('woff'),
    url('../style/font/PingFang Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Medium.woff') format('woff'),
    url('../style/font/PingFang Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Bold.woff') format('woff'),
    url('../style/font/PingFang Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Heavy.woff') format('woff'),
    url('../style/font/PingFang Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html,
body {
    color: #111111;
    background-color: #dddddd;
    height: 100%;
    width: 800px;
    /*viewport width=800*/
    font-size: 30px;
    font-family: mHeiT;
    font-weight:300;
    line-height: 2;
    scroll-behavior: auto;
    /*smooth;*/
    -webkit-user-select: none;
}
body.loading {
    opacity: 0;
}

body.finish {
    opacity: 1;
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes loading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
    }
}

@-moz-keyframes loading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
    }
}


div.topDiv,
div.buttomDiv {
    width: 770px;
    height: 200px;
    margin: 15px 15px;
    font-size: 30px;
    font-family: mHeiTi;
    font-weight:300;
}

div.bodyDiv{
    width: 750px;
    margin: 25px 25px;
    font-size: 30px;
    font-family: mHeiTi;
    font-weight:300;
}

a {
    color: #663366;
    font-weight: 600;
}

/* 未被访问的链接 */
a:link {
    color: #663366;
}

/* 已被访问的链接 */
a:visited {
    color: #552255;
}

/* 将鼠标悬停在链接上 */
a:hover {
    color: #885588;
    text-decoration: underline;
}

/* 被选择的链接 */
a:active {
    color: blue;
    text-decoration: underline;
}


h3 {
    font-size: 36px;
    font-family: mHeiTi;
    font-weight: 600;
    line-height: 1.5;
    margin: 10px 10px;
}



h4 {
    font-size: 32px;
    font-family: mHeiTi;
    font-weight: 600;
    line-height: 1.5;
    margin: 10px 10px;
}


.cancelFocus {

    -webkit-animation: cancelFocus 700ms ease-in;
    -moz-animation: cancelFocus 700ms ease-in;
    animation: cancelFocus 700ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes cancelFocus {
    0% {
        background-color: #ccc;
    }

    100% {
        background-color: #dddddd;
    }
}

@-moz-keyframes cancelFocus {
    0% {
        background-color: #ccc;
    }

    100% {
        background-color: #dddddd;
    }
}

@keyframes cancelFocus {
    0% {
        background-color: #ccc;
    }

    100% {
        background-color: #dddddd;
    }
}


.focus {

    -webkit-animation: focus 700ms ease-in;
    -moz-animation: focus 700ms ease-in;
    animation: focus 700ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes focus {
    0% {
        background-color: #dddddd;
    }

    100% {
        background-color: #ccc;
    }
}

@-moz-keyframes focus {
    0% {
        background-color: #dddddd;
    }

    100% {
        background-color: #ccc;
    }
}

@keyframes focus {
    0% {
        background-color: #dddddd;
    }

    100% {
        background-color: #ccc;
    }
}


ul,
ol {
    color: #222222;
    font-size: 30px;
    font-family: mHeiTi;
    font-weight:300;
    line-height: 2;
}

li {
    font-weight:300;
}

img {
    opacity: 0.72;
}

mark {
    background-color: #dddd88;
    font-size: 30px;
    font-weight:300;
}


@-webkit-keyframes showFocus {
    0% {
        opacity: 0.8;
        height: 0px;
    }

    100% {
        opacity: 0;
        height: 100px;
    }
}

@-moz-keyframes showFocus {
    0% {
        opacity: 0.8;
        height: 0px;
    }

    100% {
        opacity: 0;
        height: 100px;
    }
}

@keyframes showFocus {
    0% {
        opacity: 0.8;
        height: 0px;
    }

    100% {
        opacity: 0;
        height: 100px;
    }
}


.showFocus {
    background-color: white;
    width: 100%;
    -webkit-animation: showFocus 700ms ease-in;
    -moz-animation: showFocus 700ms ease-in;
    animation: showFocus 700ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes hideFocus {
    0% {
        opacity: 0;
        height: 100px;
    }

    100% {
        opacity: 0;
        height: 0px;
    }
}

@-moz-keyframes hideFocus {
    0% {
        opacity: 0;
        height: 100px;
    }

    100% {
        opacity: 0;
        height: 0px;
    }
}

@keyframes hideFocus {
    0% {
        opacity: 0;
        height: 100px;
    }

    100% {
        opacity: 0;
        height: 0px;
    }
}


.hideFocus {
    background-color: white;
    width: 100%;
    -webkit-animation: hideFocus 700ms ease-in;
    -moz-animation: hideFocus 700ms ease-in;
    animation: hideFocus 700ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes showList {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes showList {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showList {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.showList {

    -webkit-animation: showList 500ms ease-in;
    -moz-animation: showList 500ms ease-in;
    animation: showList 500ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes hideList {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes hideList {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideList {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.hideList {

    -webkit-animation: hideList 500ms ease-in;
    -moz-animation: hideList 500ms ease-in;
    animation: hideList 500ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}